/* Common style */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.btn {
    border: none;
}

/* Common style End*/


header {
    background-image: url('./img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 806px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

.menu-container {
    display: flex;
    gap: 60px;
    color: #FB9D5C;
    font-size: 22px;
}

.menu-container li {
    cursor: pointer;
    transition: 0.5s;
}

.menu-container li:hover {
    color: white;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.banner-left p {
    color: #FB9D5C;
    font-size: 26px;
}

.banner-left {
    text-align: center;
}

.banner-left h1 {
    color: white;
    font-size: 44px;
    line-height: 1.3;
}

.banner-left button {
    background-color: #FB9D5C;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 15px;
    transition: 0.5s;
}

.banner-left button:hover {
    color: white;
    background-color: #805130;
}

.brand-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 30px 0px;
    background-color: rgb(202, 252, 252);
}

.services {
    margin: 50px 0;
    text-align: center;
}

.line {
    margin-top: 8px;
}

.service-title {
    font-size: 37px;
}

.service-description {
    font-size: 15px;
}

.service-card-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 80px;
}

.service-card-description {
    margin-top: 15px;
    margin-bottom: 10px;
}

.contact-us-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 50px;
}

.btn-hire {
    background-color: #0DCAF0;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.contact-title {
    font-size: 35px;
}

.color-red {
    color: #FB9D5C;
}

.contact-description {
    font-size: 20px;
    margin-top: 10px;
}

.consultance-container {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.consultance-text {
    font-size: 30px;
}

.ph-no {
    font-size: 30px;
}

footer {
    background-color: #151515;
    width: 100%;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.footer-logo-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.news-latter-container {
    width: 300px;
    text-align: center;
}

.security-description {
    font-size: 18px;
    color: #C0BABA;
}

.news-latter-container h5 {
    font-size: 22px;
    margin-top: 20px;
}

.input-email {
    padding: 10px 25px;
    background-color: #808080;
    color: white;
}

.input-email::placeholder {
    color: white;
}

.learn-more-title {
    color: #C0BABA;
}

.list-circle-style li {
    list-style: circle;
    color: #C0BABA;
}

.learn-more-container {
    text-align: center;
}

.learn-more-with-title {
    display: flex;
    gap: 20px;
}

.learn-more-left {
    color: #FB9D5C;
}

.learn-more-right {
    color: #C0BABA;
}

.mt-20 {
    margin-top: 20px;
}